/***************************
@package Jeffy Cascade Stylesheet
@author Jeffery Selly
@desc Simple CSS for formatting straight to the point

****************************/



/* ===================
Backgrounds 
=======================*/
.grey-bg{
	background-color: grey;
	color : black;
}
.green-bg{
	background-color: #71c55d;
	color : white;
}
.black-bg{
	background-color: #000;
	color : white;
}
.white{
	background-color: #fff;
	color : white;
}
.blue-bg{
	background-color: blue;
	color : white;
}

/* ============================
Height
=============================*/
.ht-1{
  height : 1.5rem;
}
.ht-2{
  height : 2.5rem;
}
.ht-3{
  height : 3.5rem;
}
.ht-4{
  height : 4.5rem;
}
.ht-5{
  height : 5.5rem;
}

/* ==================================
Font Height 
=====================================*/
.font-ht-1{
	font-size: 10px
}
.font-ht-2{
	font-size: 20px
}
.font-ht-3{
	font-size: 30px
}
.font-ht-4{
	font-size: 40px
}
.font-ht-5{
	font-size: 50px
}

/*==================================
Text color 
======================================*/
.grey{
	
	color : grey;
}
.green{
	color: #71c55d;
	
}
.black{
	color: #000;
	
}
.white{
	color: #fff;
	
}
.blue{
	color: blue;
	
}